@import url('https://fonts.cdnfonts.com/css/middle-earth-personal-use');

body{
    background-color: #d2d2d2;
    text-align: center;

}


a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}


.bg-top{
    background-image: url(../imagens/background-top.jpg);
    background-size: 100%;
    width: 100%;
    height: 610px;
}

.header {
    color: #675344;
    font-weight: bold;
    font-size: 42px;
    padding: 10px;
    font-family: 'Middle Earth PERSONAL USE', sans-serif;
                                                                                                
                                                

}

h1{
    color: #675344;
    font-weight: bold;
    font-size: 52px;
    margin: 10%;
    font-family: 'Middle Earth PERSONAL USE', sans-serif;
                                                

}


.page1{
    padding: 10px;
                                                
}


.page2{
    padding: 10px;
}


.colorpallet1{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #cda56e;
    display: inline-block;
    border: #fff;
    border-style: solid;
}



.colorpallet2{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #000;
    display: inline-block;
    border: #fff;
    border-style: solid;
}

.colorpallet3{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #c3c4c6;
    display: inline-block;
    border: #fff;
    border-style: solid;
}


.colorpallet4{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #fff;
    display: inline-block;
    border: #fff;
    border-style: solid;
}

.link-produto{
    background-color: #675344;
    border:none;
    width: 100%;
    padding: 10px;
    margin-top: 2%;
    font-weight: bold;
}

.link-produto:hover{
    background-color: #36322e;
}


.footer a{
    color: #000;
    padding: 10px;

}